@import "tailwindcss";

@theme {
  --font-sans: "Inter", "-apple-system", "PingFang SC", sans-serif;
  --font-serif: "Noto Serif SC", serif;
  --font-mono: "JetBrains Mono", monospace;
}

body {
  background-color: #f8f9fa;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 4px;
}

input:focus,
textarea:focus {
  outline: none;
}
